.card {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #37003c, #de2576);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 50px;
}